<html>
<head>
    <title>{% block title %}{% endblock %} - NA Ladder Heroes</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css" />
</head>
<body>
<nav class="nav-header">
    <span class="title"><a href="/">Ladder Heroes</a></span>
    <ul>
        <li><a href="#">Standings</a></li>
        <li><a href="about">About</a></li>
    </ul>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
