{% extends 'layout.html.twig' %}

{% block content %}

    <div class="welcome-splash">
        <form action="/secure" method="POST" class="pure-form">
            <div class="pure-control-group">
                <label for="password">Password: </label>
                <input type="password" name="password" />
            </div>

            <div class="pure-controls">
                <input type="submit" value="Log in" class="button" />
            </div>

        </form>
    </div>


{% endblock %}
