$primary-color: #36312F;
$secondary-color: #b8860b;
$heading-color: #1C704E;
$inverted-text-color: whitesmoke;
$background-color: #010C33;
$navigation-color: #284E36;

$button-primary-foreground-color: white;
$button-primary-background-color: #0078e7;

$inverted-button-background-color: #b8860b;
$inverted-button-foreground-color: white;

$navigation-background-color: #1C1C1A;
